#content{
    background-color: aliceblue;
    font-size: medium;
    padding-left: 34%;
    padding-right: 34%;
    padding-top: 14%;
    padding-bottom: 14%;
}
#email{
    display: block;
    text-align: left;
    padding: 0px 0px 0px 6px;
}

#uname{
    display: block;
    text-align: left;
    padding: 0px 0px 0px 6px;
}

#pword{
    display: block;
    text-align: left;
    padding: 0px 0px 0px 6px;
}

#Gender{
     padding: 0px 0px 3px 0px;
}

#Checkbox{
    padding-bottom: 4px;
}

#country{
     padding-bottom: 4px;
}